@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa:600|Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap');

body {
  font-family: 'Poiret One', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  margin: 0;
}

textarea {
    resize: none;
}

.container {
  text-align: center;
}

.title {
  color: #fff;
  font-family: 'Poiret One', cursive;
  margin-bottom: 2vh;
  font-size: 80px;
}
.title-dsc{
  font-size: 24px;
  color: #fff;
  margin-bottom: 50vh;
}
.bikkuri{
  font-family: 'Josefin Sans', sans-serif;
}

.button {
  border-radius: 10px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  margin: 1.5vh;
  padding: 2vh 8vw;
  width: 40vw;
  color: #fff;
  text-decoration: none;
}
.button:hover {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  backdrop-filter: blur(3px);
}

#particles-js {
background-color: #232741;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: block;
z-index: -10;
}

.canvas-wrapper{
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.canvas-wrapper canvas{
  position: absolute;
  height: 100%;
  width: 100%;
}

.canvas-wrapper img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas{
  z-index: 2;
}

#sample{
  z-index: 5;
}

.float-button {
    display: block;
    width: 56px;/*幅*/
    height: 56px;/*高さ*/
    background: rgba(79, 167, 255,0.3);/*背景色*/
    text-align: center;/*中央寄せ*/
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
    margin-top: 1em;
    backdrop-filter: blur(3px);
}

.float-button:hover{
    box-shadow:0px 0px 20px 0px #4fc7ff;
    border-radius: 16px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.float-button i{
    /*中央のアイコン*/
  color: white;
  line-height: 56px;/*＝幅と高さ*/
  font-size: 18px;/*サイズ*/
}

.float-menu{
    right: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 1;
}

.constellation-ovarlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.wrapper{
  width: 100%;
  height: 100vh;
}

button, input, select, textarea {
  font-family : inherit;
  font-size: inherit;
}
.edit {
  position: absolute;
  left: 4vh;
  bottom:4vh;
  width: 24vw;
  height: 24vh;
  border-radius: 4px;
  background-color:rgba(217, 227, 255 ,0.4);
  padding: 12px 24px;
  position: absolute;
  width: 24vw;
  height: 24vh;
  backdrop-filter: blur(3px);
}

.edit-input{
  background-color:rgba(255,255,255,0);
  border: none;
  width: 100%;
}
.edit-input::placeholder{
  font-size: 1.4em;
  color: #222;
  font-family: 'Poiret One', cursive;
}

.edit-title{
  height: 4vh;
}
.edit-description{
  height: 16vh;
}

.edit-post {
  display: block;
}

.edit-description {
  display: block;
}

.post-button {
  color: #fff;
  border-radius:4px ;
  background: rgba(79, 167, 255,0.3);/*背景色*/
  position: absolute;
  right: 4vh;
  bottom: 4vh;
  padding: 18px 8vw;
  font-size: 1.6em;
  border: none;
  backdrop-filter: blur(3px);
  cursor: pointer;
}

.post-button:hover {
  box-shadow:0px 0px 20px 0px #4fc7ff;
  transition: .3s;
}

.description {
  border-radius: 4px;
  position: fixed;
  z-index: 2;
  background-color:rgba(255,255,255,0.6);
  padding: 6px 12px;
  backdrop-filter: blur(3px);
}
.description p{
  font-size: 1.2em;
  margin: 8px;
}

.creator{
  color: #fff;
  position: absolute;
  right: 24px;
  bottom: 24px;
}
.creators{
  color: #fff;
  font-size: 2em;
  line-height: 2em;
}
.back-to-top{
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 24px;
  display:block;
}

.feedback {
	color: #fff;
	font-size: 16px;
}

.success{
  text-align: center;
  font-size: 3em;
}
.success-check{
  color: #36b37c;
  font-size: 12em;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.not-display {
  display: none;
}